{{define "AdminPageTemplate"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>Администратор</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>АЗС</header>
    {{template "admin_navi.html" .}}
    <div id="message"></div>
    <div class="overall">
        <div style="width:100%; height:1px; clear:both;"></div> <!-- выравниваем без обтекания -->

        <div class="container2">
            <form action="/show_azs_for" method="post">
                <label>Показать для пользователя</label>
                <select name="user">
                    <option value="-1">Не выбран</option>
                    <option value="-2" {{ if eq $.SelectedUserId -2 }}selected{{ end }}>Показать для всех</option>
                    {{ range $.Users }}
                    <option value="{{.Id}}" {{ if eq .Id $.SelectedUserId }}selected{{ end }}>{{.Login}}</option>
                    {{ end }}
                </select>
                <input type="submit" value="Показать">
            </form>
        </div>

        {{ range .Azses }}
        <div class="container"><b> </b>
            {{template "azs_container.html" .}}
            <div class="ref">
                <table>
                    <tr>
                        <td>
                            <a href="/list_logs?id_azs={{.IdAzs}}">Логи</a>
                        </td>
                        <td>
                            <label for="yaPay">YandexPay</label>
                            <input type="checkbox" id="yaPay">                            
                        </td>
                        <td>
                            <a href="/update_app_page?id_azs={{.IdAzs}}">Обновление</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/azs_receipt/history?id_azs={{.IdAzs}}">История операций</a>
                        </td>
                        <td>
                            <a href="/azs/control?id_azs={{.IdAzs}}">Управление</a>
                        </td>
                        <td>
                            <form action="/azs_stats?id_azs={{.IdAzs}}" method="post" class="deleteAzs">
                                <button type="submit">Удалить АЗС</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <form action="/add_user_to_asz?id_azs={{.IdAzs}}" method="post" id="addUserToAzs"
                            name="addUserToAzs">
                            <td>
                                <label>Сменить пользователя: </label>
                            </td>
                            <td>
                                <select name="user">
                                    <option value="-1">Не выбран</option>
                                    {{ range $.Users }}
                                    {{ if eq .Id $.SelectedUserId }}
                                    <option value="{{.Id}}" selected>{{.Login}}</option>
                                    {{ else }}
                                    <option value="{{.Id}}">{{.Login}}</option>
                                    {{ end }}
                                    {{end}}
                                </select>
                            </td>
                            <td>
                                <input type="submit" value="Добавить">
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
        {{end}}
        <div style="width:100%; height:1px; clear:both;"></div> <!-- выравниваем без обтекания -->
    </div>
    <!-- <footer>
        <p>Copyright © 2023 T-azs</p>
        <p>Тел: +7 911 911 4651 </p>        
    </footer>       -->
</body>

<script>
    const deleteForms = document.querySelectorAll(".deleteAzs");
    deleteForms.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            const confirmed = window.confirm("Удалить АЗС?");
            if (confirmed) {
                fetch(form.action, {
                    method: "DELETE"
                }).then(() => {
                    alert("АЗС успешно удален!");
                    window.location.reload();
                }).catch((error) => {
                    // handle error
                    if (error.response.status === 400) {
                        alert("Ошибка: неправильный запрос");
                    } else {
                        alert("Ошибка: " + error);
                    }
                });
            }
        });
    });

</script>

</html>
{{end}}