{{define "azsStatsDataFull"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Статистика АЗС</title>
    <style>
        h1 {
            font-size: 36px;
            color: #1c7ed6;
            text-align: center;
            margin: 0;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            border-radius: 5px 5px 0 0;
        }

        table {
            margin-top: 10px;
            padding: 20px;
            width: 100%;
            max-width: 800px;
            border-collapse: collapse;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 5px 5px;
        }

        table td,
        table th {
            text-align: center;
            padding: 10px;
            border: 1px solid #ccc;
        }

        table th {
            background-color: #1c7ed6;
            width: 35%;
            color: #fff;
            font-weight: bold;
            white-space: nowrap;
        }

        table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .container {
            float: top;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 5px #ccc;
            width: 600px;
            margin: 1% 2% 0% 2%;
            padding: 30px;
        }

        .container2 {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 5px #ccc;
            width: 600px;
            margin: 4% 2% 2% 2%;
            padding: 30px;
        }

        .ref {
            text-align: right;
        }

        input[type=submit],
        button,
        select {
            width: 150px;
            height: 30px;
            border: 2px solid #ccc;
            border-radius: 8px;
            margin: 0px;
        }

        .overall {
            max-width: 690px;
            min-width: 690px;
            margin: 0 auto;
            background: darkgrey;
            height: 100%;
        }


        nav {
            background-color: #1c7ed6;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
        }

        nav li {
            display: inline-block;
        }

        nav a {
            display: block;
            padding: 10px;
            color: #fff;
        }

        nav ul {
            margin-right: 0;
        }

        #message {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
            z-index: 9999;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #message.loading {
            opacity: 1;
            display: flex;
        }

        #message.loading:after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            margin: 10px auto;
            border-radius: 50%;
            border: 2px solid #333;
            border-top-color: #fff;
            position: relative;
            top: -10px;
            animation: spin 0.8s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    {{template "user_navi.html" .}}
    <h1>АЗС</h1>
    <div id="message"></div>

    <div class="overall">
        <div style="width:100%; height:1px; clear:both;"></div> <!-- выравниваем без обтекания -->
        <div class="container"><b> </b>
            <table>
                <tr>
                    <th>Имя АЗС</th>
                    <td>{{.Name}}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{.Address}}</td>
                </tr>
                <tr>
                    <th>Id АЗС</th>
                    <td>{{.IdAzs}}</td>
                </tr>
                <tr>
                    <th>Время обновления</th>
                    <td>{{.Time}}</td>
                </tr>
            </table>
            <b> </b>
            <table>
                <tr>
                    <th></th>
                    <th>Колонка-1</th>
                    {{if eq .CountColum 2}}
                    <th>Колонка-2</th>
                    {{end}}
                </tr>
                <tr>
                    <th>Топливо</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .TypeFuel }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .TypeFuel }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Цена, руб</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ printf "%.2f" .Price }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{printf "%.2f" .Price }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                {{if eq .IsSecondPriceEnable 1}}
                <tr>
                    <th>Цена безналич, руб</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ printf "%.2f" .PriceCashless }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ printf "%.2f" .PriceCashless }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                {{end}}
                <tr>
                    <th>Объем топлива, м3</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .FuelVolume }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .FuelVolume }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Объем топлива, %</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .FuelVolumePerc }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .FuelVolumePerc }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Плотность, т/м3</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .Density }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .Density }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Сред. темп, °C</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .AverageTemperature }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .AverageTemperature }}</td>
                    {{ end }}
                    {{end}}
                </tr>
            </table>
            <b> </b>
            <table>
                <tr>
                    <th></th>
                    <th>Общий</th>
                    <th>Инкасация</th>
                </tr>
                <tr>
                    <th>Наличные, руб</th>
                    <td class="sum-cell">{{.Info.CommonSumCash}}</td>
                    <td class="sum-cell daily">{{.Info.DailySumCash}}</td>
                </tr>
                <tr>
                    <th>Безналичные, руб</th>
                    <td class="sum-cell">{{.Info.CommonSumCashless}}</td>
                    <td class="sum-cell daily">{{.Info.DailySumCashless}}</td>
                </tr>
                <tr>
                    <th>Онлайн оплата,руб</th>
                    <td class="sum-cell">{{.Info.CommonOnlineSum}}</td>
                    <td class="sum-cell daily">{{.Info.DailyOnlineSum}}</td>
                </tr>
                {{ with index .AzsNodes 0 }}
                <tr>
                    <th>Колонка 1-Литры</th>
                    <td class="liters-cell">{{.CommonLiters}}</td>
                    <td class="liters-cell daily">{{.DailyLiters}}</td>
                </tr>
                {{ end }}

                {{if eq .CountColum 2}}
                {{ with index .AzsNodes 1 }}
                <tr>
                    <th>Колонка 2-Литры</th>
                    <td class="liters-cell">{{.CommonLiters}}</td>
                    <td class="liters-cell daily">{{.DailyLiters}}</td>
                </tr>
                {{ end }}
                {{end}}

            </table>
            <table>
                <tr>
                    <td>
                        <form action="/push_azs_button" method="post" class="serviceBtn1">
                            <input type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=33>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Сервисная кнопка 1">
                        </form>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="serviceBtn2">
                            <input type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=34>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Сервисная кнопка 2">
                        </form>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="serviceBtn3">
                            <input type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=35>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Сервисная кнопка 3">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/push_azs_button" method="post" class="resetDallyCounter">
                            <input type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=255>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Сброс сут. счетчиков">
                        </form>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="resetAzs1">
                            <input type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=17>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Сброс колонки 1">
                        </form>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="resetAzs2">
                            <input type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=18>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type={{if eq .CountColum 2}} "submit" {{ else }} "hidden" {{ end }}
                                value="Сброс колонки 2">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Цена колонка-1, руб</td>
                    <td>
                        <input id="price1Input" type="number" step="0.01" min="0" max="180" placeholder="Цена"
                            value="0.00" required>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="priceBtn1">
                            <input id="price1" type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=1>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Установить">
                        </form>
                    </td>
                </tr>
                {{if eq .IsSecondPriceEnable 1}}
                <tr>
                    <td>Цена колонка-1 безналич., руб</td>
                    <td>
                        <input id="price1cashlessInput" type="number" step="0.01" min="0" max="180" placeholder="Цена"
                            value="0.00" required>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="priceBtn3">
                            <input id="price1Cashless" type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=3>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Установить">
                        </form>
                    </td>
                </tr>
                {{end}}
                {{if eq .CountColum 2}}
                <tr>
                    <td>Цена колонка-2, руб</td>
                    <td>
                        <input id="price2Input" type="number" step="0.01" min="0" max="180" placeholder="Цена"
                            value="0.00" required>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="priceBtn2">
                            <input id="price2" type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=2>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Установить">
                        </form>
                    </td>
                </tr>
                {{if eq .IsSecondPriceEnable 1}}
                <tr>
                    <td>Цена колонка-2 безналич., руб</td>
                    <td>
                        <input id="price2cashlessInput" type="number" step="0.01" min="0" max="180" placeholder="Цена"
                            value="0.00" required>
                    </td>
                    <td>
                        <form action="/push_azs_button" method="post" class="priceBtn4">
                            <input id="price2Cashless" type="hidden" name="price" value=0>
                            <input type="hidden" name="pushedBtn" value=4>
                            <input type="hidden" name="id_azs" value={{.IdAzs}}>
                            <input type="submit" value="Установить">
                        </form>
                    </td>
                </tr>
                {{end}}
                {{end}}
            </table>
        </div>
        <div style="width:100%; height:1px; clear:both;"></div> <!-- выравниваем без обтекания -->
    </div>
</body>
<script>
    const retryTime = 15000;
    let retryCount = 0;

    const message = document.getElementById('message');
    let noAnswer = false;

    function showMessage(text) {
        message.innerHTML = text;
        message.classList.add('loading');
    }

    function hideMessage() {
        message.classList.remove('loading');
    }

    function sendToAzs(form, msg, price = 0) {
        noAnswer = false;
        const confirmed = window.confirm(msg);
        if (confirmed) {
            const formData = new FormData(form);
            const idAzs = formData.get("id_azs");
            formData.set("price", price);
            showMessage('Отправка запроса на АЗС...');
            fetch(form.action, {
                method: "POST",
                body: formData
            }).then(() => {
                let retryTimer;
                const xhr = new XMLHttpRequest();
                const url = '/azs_button_ready?id_azs=' + idAzs; // append the "id_azs" parameter to the URL
                xhr.open('GET', url);
                xhr.onload = handleXhrLoad.bind(null, xhr, retryTime, retryTimer, idAzs);
                xhr.send();
            }).catch((error) => {
                // handle error
                if (error.response.status === 400) {
                    // handle bad request error
                    alert("Ошибка: неправильный запрос");
                } else {
                    // handle other errors
                    alert("Ошибка: " + error);
                }
                hideMessage();
            });
        }
    }

    function handleXhrLoad(xhr, retryTime, retryTimer, idAzs) {
        if (xhr.status === 200) {
            console.log(xhr.responseText);
            if (noAnswer) {
                alert("АЗС не отвечает!");
            } else {
                alert("Успешно!");
            }
            hideMessage();
            window.location.reload();
        } else {
            //alert("АЗС не отвечает!"+ retryCount);
            if (retryCount < retryTime / 1000) {
                retryTimer = setTimeout(function () {
                    xhr.open('GET', '/azs_button_ready?id_azs=' + idAzs);
                    xhr.send();
                    retryCount++;
                }, 1000); // wait for 1 second before retrying
            } else if (!noAnswer) {
                noAnswer = true;
                xhr.open('GET', '/reset_azs_button?id=' + idAzs);
                xhr.send();
            } else {
                hideMessage();
                window.location.reload();
            }
        }
    }

    const resetAzs1 = document.querySelectorAll(".resetAzs1");
    resetAzs1.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            retryCount = 0;
            sendToAzs(form, "Сбросить колонку 1?");
        });
    });

    const resetAzs2 = document.querySelectorAll(".resetAzs2");
    resetAzs2.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            retryCount = 0;
            sendToAzs(form, "Сбросить колонку 2?");
        });
    });

    const resetDallyCounter = document.querySelectorAll(".resetDallyCounter");
    resetDallyCounter.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            retryCount = 0;
            sendToAzs(form, "Сбросить суточные счетчики?");
        });
    });

    const serviceBtn1 = document.querySelectorAll(".serviceBtn1");
    serviceBtn1.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            retryCount = 0;
            sendToAzs(form, "Выполнить Сервисная кнопка 1?");
        });
    });

    const serviceBtn2 = document.querySelectorAll(".serviceBtn2");
    serviceBtn2.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            retryCount = 0;
            sendToAzs(form, "Выполнить Сервисная кнопка 2?");
        });
    });

    const serviceBtn3 = document.querySelectorAll(".serviceBtn3");
    serviceBtn3.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            retryCount = 0;
            sendToAzs(form, "Выполнить Сервисная кнопка 3?");
        });
    });

    const price1Input = document.getElementById("price1Input");
    const priceBtn1 = document.querySelectorAll(".priceBtn1");
    let priceVal1 = price1Input.value;
    priceBtn1.forEach((form) => {
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            retryCount = 0;
            let price = price1Input.value;
            let priceInt = Math.round(price * 100);
            sendToAzs(form, "Установить цену для 1-й колонки?", priceInt);
        });
    });

    price1Input.addEventListener("input", function () {
        let priceValue = price1Input.value;
        if (!priceValue.match(/^(0|[1-9]\d*)(\.[0-9]{1,2})?$/)) {
            price1Input.value = priceVal1;
            return;
        };
        priceVal1 = price1Input.value;
    });

    const priceBtn3 = document.querySelectorAll(".priceBtn3");
    const price1cashlessInput = document.getElementById("price1cashlessInput");
    let priceCashlessVal1 = 0
    if (price1cashlessInput !== null && price1cashlessInput !== undefined) {
        priceCashlessVal1 = price1cashlessInput.value;
    }
    if (priceBtn3 !== null && priceBtn3 !== undefined) {
        priceBtn3.forEach((form) => {
            form.addEventListener("submit", (event) => {
                event.preventDefault();
                retryCount = 0;
                let price = price1cashlessInput.value;
                let priceInt = Math.round(price * 100);
                sendToAzs(form, "Установить цену для 1-й колонки?", priceInt);
            });
        });
    }

    if (price1cashlessInput !== null && price1cashlessInput !== undefined) {
        price1cashlessInput.addEventListener("input", function () {
            let priceValue = price1cashlessInput.value;
            if (!priceValue.match(/^(0|[1-9]\d*)(\.[0-9]{1,2})?$/)) {
                price1cashlessInput.value = priceCashlessVal1;
                return;
            };
            priceCashlessVal1 = price1cashlessInput.value;
        });
    }

    const priceBtn2 = document.querySelectorAll(".priceBtn2");
    const price2Input = document.getElementById("price2Input");
    if (price2Input !== null && price2Input !== undefined) {
        let priceVal2 = price2Input.value;
    }
    if (priceBtn2 !== null && priceBtn2 !== undefined) {
        priceBtn2.forEach((form) => {
            form.addEventListener("submit", (event) => {
                event.preventDefault();
                retryCount = 0;
                let price = price2Input.value;
                let priceInt = Math.round(price * 100);
                sendToAzs(form, "Установить цену для 2-й колонки?", priceInt);
            });
        });
    }
    if (price2Input !== null && price2Input !== undefined) {
        price2Input.addEventListener("input", function () {
            let priceValue = price2Input.value;
            if (!priceValue.match(/^(0|[1-9]\d*)(\.[0-9]{1,2})?$/)) {
                price2Input.value = priceVal2;
                return;
            };
            priceVal2 = price2Input.value;
        });
    }

    const priceBtn4 = document.querySelectorAll(".priceBtn4");
    const price2cashlessInput = document.getElementById("price2cashlessInput");
    if (price2cashlessInput !== null && price2cashlessInput !== undefined) {
        let priceCashlessVal2 = price2cashlessInput.value;
    }
    if (priceBtn4 !== null && priceBtn4 !== undefined) {
        priceBtn4.forEach((form) => {
            form.addEventListener("submit", (event) => {
                event.preventDefault();
                retryCount = 0;
                let price = price2cashlessInput.value;
                let priceInt = Math.round(price * 100);
                sendToAzs(form, "Установить цену для 2-й колонки?", priceInt);
            });
        });
    }
    if (price2cashlessInput !== null && price2cashlessInput !== undefined) {
        price2cashlessInput.addEventListener("input", function () {
            let priceValue = price2cashlessInput.value;
            if (!priceValue.match(/^(0|[1-9]\d*)(\.[0-9]{1,2})?$/)) {
                price2cashlessInput.value = priceCashlessVal2;
                return;
            };
            priceCashlessVal2 = price2cashlessInput.value;
        });
    }

</script>

</html>
{{end}}