{{define "azsStatsDataFull"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>Статистика АЗС</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>

<body>
    <header>АЗС</header>
    {{template "user_navi.html" .}}
    <div id="message"></div>

    <input type="hidden" id="azsId" value={{.IdAzs}}>

    <div class="overall">
        <div style="width:100%; height:1px; clear:both;"></div>
        <div class="container"><b> </b>
            <table>
                <tr>
                    <th>Имя АЗС</th>
                    <td>{{.Name}}</td>
                </tr>
                <tr>
                    <th>Id АЗС</th>
                    <td>{{.IdAzs}}</td>
                </tr>
                <tr>
                    <th>Время обновления</th>
                    <td>{{.Time}}</td>
                </tr>
                <tr>
                    <th>Вресия ПО</th>
                    <td>{{.Info.Version}}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{.Address}}</td>
                </tr>
                <tr>
                    <th>Координаты</th>
                    <td id="coordinateVals">0.00 0.00</td>
                </tr>
                <tr>
                    <th>Редактировать координаты</th>
                    <td><input type="checkbox" id="modeSwitch"></td>
                </tr>
            </table>
            <b> </b>
            <div style="width:100%; height:5px; clear:both;"></div>
            <table>
                <div id="map" style="width: 100%; height: 400px;"></div>
            </table>
            <div style="width:100%; height:5px; clear:both;"></div>
            <table>
                <tr>
                    <th></th>
                    <th>Колонка-1</th>
                    {{if eq .CountColum 2}}
                    <th>Колонка-2</th>
                    {{end}}
                </tr>
                <tr>
                    <th>Топливо</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .TypeFuel }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .TypeFuel }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Цена, руб</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ printf "%.2f" .Price }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{printf "%.2f" .Price }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                {{if eq .IsSecondPriceEnable 1}}
                <tr>
                    <th>Цена безналич, руб</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ printf "%.2f" .PriceCashless }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ printf "%.2f" .PriceCashless }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                {{end}}
                <tr>
                    <th>Объем топлива, л</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .FuelVolume }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .FuelVolume }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Объем топлива, %</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .FuelVolumePerc }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .FuelVolumePerc }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Плотность, т/м3</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .Density }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .Density }}</td>
                    {{ end }}
                    {{end}}
                </tr>
                <tr>
                    <th>Сред. темп, °C</th>
                    {{ with index .AzsNodes 0 }}
                    <td>{{ .AverageTemperature }}</td>
                    {{ end }}
                    {{if eq .CountColum 2}}
                    {{ with index .AzsNodes 1 }}
                    <td>{{ .AverageTemperature }}</td>
                    {{ end }}
                    {{end}}
                </tr>
            </table>
            <b> </b>
            <table>
                <tr>
                    <th></th>
                    <th>Общий</th>
                    <th>Инкасация</th>
                </tr>
                <tr>
                    <th>Наличные, руб</th>
                    <td class="sum-cell">{{.Info.CommonSumCash}}</td>
                    <td class="sum-cell daily">{{.Info.DailySumCash}}</td>
                </tr>
                <tr>
                    <th>Безналичные, руб</th>
                    <td class="sum-cell">{{.Info.CommonSumCashless}}</td>
                    <td class="sum-cell daily">{{.Info.DailySumCashless}}</td>
                </tr>
                <tr>
                    <th>Онлайн оплата,руб</th>
                    <td class="sum-cell">{{.Info.CommonOnlineSum}}</td>
                    <td class="sum-cell daily">{{.Info.DailyOnlineSum}}</td>
                </tr>
                {{ with index .AzsNodes 0 }}
                <tr>
                    <th>Колонка 1-Литры</th>
                    <td class="liters-cell">{{.CommonLiters}}</td>
                    <td class="liters-cell daily">{{.DailyLiters}}</td>
                </tr>
                {{ end }}

                {{if eq .CountColum 2}}
                {{ with index .AzsNodes 1 }}
                <tr>
                    <th>Колонка 2-Литры</th>
                    <td class="liters-cell">{{.CommonLiters}}</td>
                    <td class="liters-cell daily">{{.DailyLiters}}</td>
                </tr>
                {{ end }}
                {{end}}

            </table>
            <table>
                <tr>
                    <td>
                        <button id="service1Btn">Снять Z - отчёт</button>
                    </td>
                    <td>
                        <button id="service2Btn">Отключить N</button>
                    </td>
                    <td>
                        <button id="service3Btn">Включить N</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="resetCountersBtn">Инкассация</button>
                    </td>
                    <td>
                        <button id="blockAzsNodeBtn" {{if .Info.IsBlock}}disabled{{end}}>Блокировка АЗС</button>
                    </td>
                    <td>
                        <button id="unblockAzsNodeBtn" {{if not .Info.IsBlock}}disabled{{end}}>Разблокировать
                            АЗС</button>
                    </td>
                </tr>
                <tr>
                    <td>Цена колонка-1, руб</td>
                    <td>
                        {{ with index .AzsNodes 0 }}
                        <input id="priceCash1Input" type="number" step="0.01" min="0" max="200.99" placeholder="Цена"
                            value="{{.Price}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="priceCash1Btn">Установить</button>
                    </td>
                </tr>
                {{if eq .IsSecondPriceEnable 1}}
                <tr>
                    <td>Цена колонка-1 безналич., руб</td>
                    <td>
                        {{ with index .AzsNodes 0 }}
                        <input id="priceCashless1Input" type="number" step="0.01" min="0" max="180" placeholder="Цена"
                            value="{{.PriceCashless}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="priceCashless1Btn">Установить</button>
                    </td>
                </tr>
                {{end}}
                {{if eq .CountColum 2}}
                <tr>
                    <td>Цена колонка-2, руб</td>
                    <td>
                        {{ with index .AzsNodes 1 }}
                        <input id="priceCash2Input" type="number" step="0.01" min="0" max="180" placeholder="Цена"
                            value="{{.Price}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="priceCash2Btn">Установить</button>
                    </td>
                </tr>
                {{if eq .IsSecondPriceEnable 1}}
                <tr>
                    <td>Цена колонка-2 безналич., руб</td>
                    <td>
                        {{ with index .AzsNodes 1 }}
                        <input id="priceCashless2Input" type="number" step="0.01" min="0" max="180" placeholder="Цена"
                            value="{{.PriceCashless}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="priceCashless2Btn">Установить</button>
                    </td>
                </tr>
                {{end}}
                {{end}}
                <tr>
                    <td></td>
                    <td>Контроль топлива</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Приход топлива-1, л</td>
                    <td>
                        {{ with index .AzsNodes 0 }}
                        <input id="fuelArrival1Input" type="number" step="1" min="0" max="1000000"
                            placeholder="Приход топлива-1" value="{{.FuelArrival}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="fuelArrival1Btn">Установить</button>
                    </td>
                </tr>
                <tr>
                    <td>Заблокировать колонку-1 при объеме топлива менее, л</td>
                    <td>
                        {{ with index .AzsNodes 0 }}
                        <input id="lockFuelValue1Input" type="number" step="1" min="0" max="1000000"
                            placeholder="Заблокировать колонку-1" value="{{.LockFuelValue}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="lockFuelValue1Btn">Установить</button>
                    </td>
                </tr>
                {{if eq .CountColum 2}}
                <tr>
                    <td>Приход топлива-2, л</td>
                    <td>
                        {{ with index .AzsNodes 1 }}
                        <input id="fuelArrival2Input" type="number" step="1" min="0" max="1000000"
                            placeholder="Приход топлива-2" value="{{.FuelArrival}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="fuelArrival2Btn">Установить</button>
                    </td>
                </tr>
                <tr>
                    <td>Заблокировать колонку-2 при объеме топлива менее, л</td>
                    <td>
                        {{ with index .AzsNodes 1 }}
                        <input id="lockFuelValue2Input" type="number" step="1" min="0" max="1000000"
                            placeholder="Заблокировать колонку-2" value="{{.LockFuelValue}}" required>
                        {{ end }}
                    </td>
                    <td>
                        <button id="lockFuelValue2Btn">Установить</button>
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
        <div style="width:100%; height:1px; clear:both;"></div>
    </div>
</body>
<script type="module" src="/public/js/azsPageScript.js"></script>
<script type="module" src="/public/js/yaMap.js"></script>
</html>
{{end}}