{{define "AzsStatisticsTemplate"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>Статистика АЗС</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <meta charset="utf-8">
</head>

<body>
    <header>Статистика АЗС</header>
    {{template "user_navi.html" .}}
    <ul>
        <div class="statisticsFilter">
            <form action="/azs/statistics?id_azs={{.IdAzs}}" method="post" id="historySearch" name="searchForm">
                <p><label for="fromSearch">Выберите период с:</label>
                    <input type="date" id="fromSearch" name="fromSearch" value="{{.FormSearchVal}}">
                    <input type="time" id="fromTime" name="fromTime" value="{{.FromTimeVal}}">

                    <label for="toSearch">по:</label>
                    <input type="date" id="toSearch" name="toSearch" value="{{.ToSearchVal}}">
                    <input type="time" id="toTime" name="toTime" value="{{.ToTimeVal}}">
                    <button type="submit" name="showBtn">Показать</button>
                </p>
                <p>Результат: {{.CountData}}
                <p>Наличные: {{.TotalCash}} руб,</p>
                <p>Безналичные: {{.TotalCashless}} руб,</p>
                <p>Онлайн: {{.TotalOnline}} руб,</p>
                {{if eq .CountColumns 2}}
                <p>Топливо (К1): {{.TotalLitersCol1}} л, Топливо (К2): {{.TotalLitersCol2}} л.</p>
                <p>Приход (К1): {{.TotalFuelArrivalCol1}} л, Приход (К2): {{.TotalFuelArrivalCol2}} л.</p>
                {{else}}
                <p>Топливо: {{.TotalLitersCol1}} л.</p>
                <p>Приход: {{.TotalFuelArrivalCol1}} л.</p>
                {{end}}
            </form>
        </div>
        <table class="centered-table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Наличные<br>(руб)</th>
                    <th>Безналичные<br>(руб)</th>
                    <th>Онлайн<br>(руб)</th>
                    {{if eq .CountColumns 2}}
                    <th>Топливо<br>(Колонка 1, л)</th>
                    <th>Топливо<br>(Колонка 2, л)</th>
                    <th>Приход<br>(Колонка 1, л)</th>
                    <th>Приход<br>(Колонка 2, л)</th>
                    {{else}}
                    <th>Топливо<br>(л)</th>
                    <th>Приход<br>(л)</th>
                    {{end}}
                </tr>
            </thead>
            <tbody>
                {{if eq .CountColumns 2}}
                {{ range .Statistics }}
                <tr>
                    <td>{{.Date}}</td>
                    <td>{{if eq .DailyCash 0.0}}-{{else}}{{.DailyCash}}{{end}}</td>
                    <td>{{if eq .DailyCashless 0.0}}-{{else}}{{.DailyCashless}}{{end}}</td>
                    <td>{{if eq .DailyOnline 0.0}}-{{else}}{{.DailyOnline}}{{end}}</td>
                    <td>{{if eq .DailyLitersCol1 0.0}}-{{else}}{{.DailyLitersCol1}}{{end}}</td>
                    <td>{{if eq .DailyLitersCol2 0.0}}-{{else}}{{.DailyLitersCol2}}{{end}}</td>
                    <td>{{if eq .FuelArrivalCol1 0.0}}-{{else}}{{.FuelArrivalCol1}}{{end}}</td>
                    <td>{{if eq .FuelArrivalCol2 0.0}}-{{else}}{{.FuelArrivalCol2}}{{end}}</td>
                </tr>
                {{end}}
                {{else}}
                {{ range .Statistics }}
                <tr>
                    <td>{{.Date}}</td>
                    <td>{{if eq .DailyCash 0.0}}-{{else}}{{.DailyCash}}{{end}}</td>
                    <td>{{if eq .DailyCashless 0.0}}-{{else}}{{.DailyCashless}}{{end}}</td>
                    <td>{{if eq .DailyOnline 0.0}}-{{else}}{{.DailyOnline}}{{end}}</td>
                    <td>{{if eq .DailyLitersCol1 0.0}}-{{else}}{{.DailyLitersCol1}}{{end}}</td>
                    <td>{{if eq .FuelArrivalCol1 0.0}}-{{else}}{{.FuelArrivalCol1}}{{end}}</td>
                </tr>
                {{end}}
                {{end}}
                
            </tbody>
        </table>
    </ul>
</body>

</html>
{{end}}