{{define "AzsStatsTemplate"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>Статистика АЗС</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>Статистика АЗС - {{.User.Login}}</header>
    {{template "user_navi.html" .}}
    <div class="overall">
        <div style="width:100%; height:1px; clear:both;"></div> <!-- выравниваем без обтекания -->
        {{ range .Azses }}
        <div class="container">
            <table>
                <tr>
                    <th>Название</th>
                    <td>{{.Name}}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{.Address}}</td>
                </tr>
                <tr>
                    <th>АЗС id</th>
                    <td>{{.IdAzs}}</td>
                </tr>
                <tr>
                    <th>Время обновления</th>
                    <td>{{.Time}}</td>
                </tr>
                {{ with index .AzsNodes 0 }}
                <tr>
                    <th>Объем топлива-1, м3</th>
                    <td>{{ .FuelVolume }}</td>
                </tr>
                {{ end }}

                {{if eq .CountColum 2}}
                {{ with index .AzsNodes 1 }}
                <tr>
                    <th>Объем топлива-2, м3</th>
                    <td>{{ .FuelVolume }}</td>
                </tr>
                {{ end }}
                {{end}}
                </tr>
                <tr>
                    <th>Наличные, руб</th>
                    <td class="sum-cell daily">{{.Info.DailySumCash}}</td>
                </tr>
                <tr>
                    <th>Безналичные, руб</th>
                    <td class="sum-cell daily">{{.Info.DailySumCashless}}</td>
                </tr>
                <tr>
                    <th>Онлайн оплата, руб</th>
                    <td class="sum-cell daily">{{.Info.DailyOnlineSum}}</td>
                </tr>
                {{ with index .AzsNodes 0 }}
                <tr>
                    <th>Колонка-1, л</th>
                    <td class="liters-cell daily">{{.DailyLiters}}</td>
                </tr>
                {{ end }}

                {{if eq .CountColum 2}}
                {{ with index .AzsNodes 1 }}
                <tr>
                    <th>Колонка-2, л</th>
                    <td class="liters-cell daily">{{.DailyLiters}}</td>
                </tr>
                {{ end }}
                {{end}}

            </table>
            <div class="ref">
                <a href="/azs_receipt/history?id_azs={{.IdAzs}}">История операций</a>
            </div>
            <div class="ref">
                <a href="/azs/control?id_azs={{.IdAzs}}">Управление</a>
            </div>
        </div>
        {{end}}
        <div style="width:100%; height:1px; clear:both;"></div> <!-- выравниваем без обтекания -->
    </div>
    <!-- <footer>
        <p>Copyright © 2023 T-azs</p>
        <p>Тел: +7 911 911 4651 </p>        
    </footer>    -->
</body>

</html>
{{end}}