{{define "AzsReceiptTemplate"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>История операций</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <meta charset="utf-8">
</head>

<body>
    <header>История операций - {{.Azs.Name}}</header>
    {{template "user_navi.html" .}}
    <ul>
        <div class="receiptFilter">
            <form action="/azs_receipt/history?id_azs={{.Azs.IdAzs}}" method="post" id="historySearch"
                name="searchForm">
                <p><label for="fromSearch">Выберите период с:</label>
                    <input type="date" id="fromSearch" name="fromSearch" value="{{.FormSearchVal}}">
                    <input type="time" id="fromTime" name="fromTime" value="{{.FromTimeVal}}">

                    <label for="toSearch">по:</label>
                    <input type="date" id="toSearch" name="toSearch" value="{{.ToSearchVal}}">
                    <input type="time" id="toTime" name="toTime" value="{{.ToTimeVal}}">
                </p>
                <p><label for="paymentType">Тип оплаты:</label>
                    <select id="paymentType" name="paymentType">
                        <option value="" {{if eq .FormPaymentType "" }}selected{{end}}>Все</option>
                        <option value="cash" {{if eq .FormPaymentType "cash" }}selected{{end}}>Наличные</option>
                        <option value="cashless" {{if eq .FormPaymentType "cashless" }}selected{{end}}>Безналичные
                        </option>
                        <option value="online" {{if eq .FormPaymentType "online" }}selected{{end}}>Онлайн</option>
                    </select>
                    <button type="submit" name="showBtn">Показать</button>
                </p>
                <p>Результат: {{.TotalSum}} руб, {{.TotalLiters}} л, {{.Count}} шт.</p>
            </form>
        </div>

        {{ range .Receipts }}
        <div class="receipt">
            <span>{{.Date}} | {{.Sum}} руб | {{.CountLitres}} л | к-{{.NumOfAzsNode}} | {{.GasType}} | Нал: {{.Cash}} | Безнал: {{.Cashless}} | Онлайн: {{.Online}}</span>
        </div>
        {{end}}
    </ul>
</body>

</html>
{{end}}