{{define "login"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
  <title>Login Page</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body id="login-body">
  <form action="/login" method="post">
    <div class="loginContainer">
      <h2>Login</h2>
      <div class="imgcontainer">
        <img src="/public/image/login_avatar.png" alt="Avatar" class="avatar">
      </div>
      <label for="login"><b>Логин</b></label>
      <input type="text" placeholder="Введите Логин" name="login" required>
      <label for="password"><b>Пароль</b></label>
      <input type="password" placeholder="Введите пароль" name="password" required>
      <button type="submit" name="submitBtn" id="login-button">Войти</button>
      {{if . }}
      <div>
        {{.Message}}
      </div>
      {{end}}
      <br>
      <div class="ref">
        <a href="/forget" id="forgot-password-link">Забыли пароль?</a>
      </div>
    </div>
  </form>
</body>
<script>
  const forgotPasswordLink = document.getElementById('forgot-password-link');
  forgotPasswordLink.addEventListener('click', (event) => {
    event.preventDefault();
    alert("Для сброса пароля, свяжитесь с администратором\nТел. +7(911)-911-46-51");
  });  
</script>

</html>
{{end}}