{{define "logsPageTemplate"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>Логи</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div id="message"></div>
    <input type="hidden" id="azsId" value={{.IdAzs}}>
    <header>Список лог-файлов для АЗС ID: {{.IdAzs}}</header>
    {{template "admin_navi.html" .}}
    <div class="overall">
        <div class="container">
            <div>
                <button id="downloadLogsBtn">Загрузить логи с АЗС</button>
                <button id="deleteLogsBtn">Удалить логи</button>
            </div>
            <p>Лог-файлы:</p>
            <ul>
                {{range .Logs}}
                <li><a href="/download_log?file={{.}}&id_azs={{$.IdAzs}}">{{.}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</body>
<script type="module" src="/public/js/logPageScript.js"></script>
</html>
{{end}}