{{define "signup"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
  <title>Signup page</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body id="signup-body">
  <header>Добавление нового пользователя</header>
  {{template "admin_navi.html" .}}
  <form action="/signup" method="post" id="loginForm" name="signUpForm">
    <div class="signupContainer">
      <label for="name"><b>Имя</b></label>
      <input type="text" id="name" name="name" required>

      <label for="surname"><b>Фамилия</b></label>
      <input type="text" id="surname" name="surname" required>

      <label for="login"><b>Логин</b></label>
      <input type="login" id="login" name="login" required>

      <label for="password"><b>Пароль</b></label>
      <input type="password" id="password" name="password" required>
      <label for="password2"><b>Повторите пароль</b></label>
      <input type="password" id="password2" name="password2" required>
      <button type="submit" name="submitBtn" id="signup-button">Зарегистрировать</button>
      {{if . }}
      <div>
        {{.Message}}
      </div>
      {{end}}
    </div>
  </form>
  <!-- <footer>
    <p>Copyright © 2023 T-azs</p>
    <p>Тел: +7 911 911 4651 </p>
  </footer> -->
</body>

</html>
{{end}}