{{define "updatePageTemplate"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>Обновления ПО АЗС</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>Обновление ПО для АЗС ID: {{.IdAzs}}</header>
    {{template "admin_navi.html" .}}
    <div class="overall">
        <div class="container">
            <h2>Доступные файлы обновлений:</h2>
            <ul>
                {{range .AvailableAppFiles}}
                <li>{{.}}</li>
                {{end}}
            </ul>
            <h2>Доступные версии (теги):</h2>
            <ul>
                {{range .AvailableTags}}
                <li><a href="/download_version?id_azs={{$.IdAzs}}&version={{.}}">{{.}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</body>

</html>
{{end}}