{{define "updatePageTemplate"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/image/favicon.ico" type="image/x-icon">
    <title>Обновления ПО АЗС</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div id="message"></div>
    <input type="hidden" id="azsId" value={{.IdAzs}}>
    <header>Обновление ПО для АЗС ID: {{.IdAzs}}</header>
    {{template "admin_navi.html" .}}
    <div class="overall">
        <div class="container">
            <h2>Доступные версии (теги):</h2>
            <select id="availableTags">
                {{range .AvailableTags}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
            <button id="downloadAppBtn">Загрузить на сервер</button>
            <h2>Доступные версии для обновлений:</h2>
            <select id="availableFiles">
                {{range .AvailableAppFiles}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
            <button id="installAppBtn">Установить на АЗС</button>
            <button id="deleteAppFileBtn">Удалить с сервера</button>
        </div>
    </div>
</body>
<script type="module" src="/public/js/updateAppPageScript.js"></script>
</html>
{{end}}
